@font-face {
    font-family: 'TTCommonsBold';
    src: url('fonts/TTCommonsBold.eot');
    src: url('fonts/TTCommonsBold.eot') format('embedded-opentype'),
         url('fonts/TTCommonsBold.woff2') format('woff2'),
         url('fonts/TTCommonsBold.woff') format('woff'),
         url('fonts/TTCommonsBold.ttf') format('truetype'),
         url('fonts/TTCommonsBold.svg#TTCommonsBold') format('svg');
}
